In [51]:
import json
import os
import pandas as pd
from pprint import pprint

postcode_edge = json.load(open(os.path.join('data', 'nyc-postcode.json')));

zipcodes = postcode_edge['features']

df = pd.DataFrame(columns=['ZIP CODE', 'PO_NAME'])

for i in zipcodes:
    df = df.append({'ZIP CODE': i['properties']['postalCode'], 'PO_NAME': i['properties']['PO_NAME']}, ignore_index=True)
#     df = df.append([i['properties']['postalCode'], i['properties']['PO_NAME']])
#     print("Zipcode: "+str(i['properties']['postalCode'])+", neighbourhood:"+str(i['properties']['PO_NAME']))

display(df['PO_NAME'].unique())
df.to_csv('./data/zip_neighbourhood.csv', index=False)

array(['Jackson Heights', 'Glen Oaks', 'New Hyde Park', 'Bellerose',
       'Fresh Meadows', 'Elmhurst', 'Floral Park', 'Forest Hills',
       'Queens Village', 'Rego Park', 'Hollis', 'Jamaica',
       'Middle Village', 'Kew Gardens', 'Richmond Hill', 'Brooklyn',
       'Woodhaven', 'South Richmond Hill', 'Ozone Park', 'Bronx',
       'New York', 'Whitestone', 'Central Park', 'College Point',
       'Bayside', 'Astoria', 'Flushing', 'Little Neck', 'East Elmhurst',
       'Corona', 'Woodside', 'Long Island City', 'Oakland Gardens',
       'Sunnyside', 'Maspeth', 'Ridgewood', 'Saint Albans',
       'Cambria Heights', 'Springfield Gardens', 'Rosedale',
       'South Ozone Park', 'Howard Beach', 'Staten Island',
       'Far Rockaway', 'Inwood', 'Arverne', 'Rockaway Park',
       'Breezy Point'], dtype=object)

In [52]:
df_crime = pd.read_csv('./data/scores/crime.csv')
df_housing = pd.read_csv('./data/scores/housing.csv')
df_education = pd.read_csv('./data/scores/education.csv')

In [53]:
df_crime = df_crime.rename(index=str, columns={'Zipcode': 'ZIP CODE', 'Score': 'SCORE'})
df_education = df_education.rename(index=str, columns={'Postcode': 'ZIP CODE', 'Ed_Score': 'SCORE'})[['ZIP CODE', 'SCORE']]
df_housing = df_housing.rename(index=str, columns={'PPSQ SCORE': 'SCORE'})

df_crime = df_crime.astype({"ZIP CODE": str});
df_education = df_education.astype({"ZIP CODE": str});
df_housing = df_housing.astype({"ZIP CODE": str});

df_crime = df_crime.set_index('ZIP CODE')
df_education = df_education.set_index('ZIP CODE')
df_housing = df_housing.set_index('ZIP CODE')

In [54]:
display(df_crime.dtypes)
display(df_education.dtypes)
display(df_housing.dtypes)

df1 = df_crime.join(df_education, on='ZIP CODE', lsuffix='_crime', rsuffix='_education')
df_final  = df1.join(df_housing, on='ZIP CODE', rsuffix='_housing')
df_final = df_final.rename(index=str, columns={'SCORE': 'SCORE_housing'})

SCORE    float64
dtype: object

SCORE    float64
dtype: object

SCORE    float64
dtype: object

In [55]:
display(df_final)

          SCORE_crime  SCORE_education  SCORE_housing
ZIP CODE
10001        1.000000         0.528175       0.118644
10002        0.469662         0.528175       0.146893
10003        0.713351         0.491417       0.079096
10004        1.000000         0.339469       0.440678
10005        0.324933         0.375977       0.248588
10006        0.806642         0.418338       0.101695
10007        1.000000         0.515418       0.728814
10009        0.331126         0.642607       0.090395
10010        0.535226         1.000000       0.943503
10011        0.697254         0.505504       0.016949
10012        0.801993         0.464253       0.022599
10013        0.847596         0.429630       0.062147
10014        0.614888         0.242100       0.045198
10016        0.377624         0.111516       0.096045
10017        0.710468         0.187146       0.327684
10018        1.000000         0.282681       0.135593
10019        0.834374         0.417237       0.129944
10020             NaN         0.613142            NaN
10021        0.180496              NaN       0.011299
10022        0.632853         0.651747       0.073446
10023        0.361376         0.472742       0.000000
10024        0.288649         0.491820       0.084746
10025        0.352051         0.352268       0.209040
10026        0.619051         0.249576       0.344633
10027        0.828982         0.453019       0.282486
10028        0.251904         0.528161       0.028249
10029        0.679805         0.628793       0.451977
10030        0.748294         0.443548       0.203390
10031        0.582274         0.606382       0.548023
10032        0.466010         0.439297       0.655367
...               ...              ...            ...
11385        0.365417         0.225722       0.587571
11411        0.327226         0.530235       0.644068
11412        0.373465         0.819039       0.717514
11413        0.320600         0.545010       0.694915
11414        0.239253         0.662530       0.706215
11415        0.201686         0.832833       0.790960
11416        0.367097              NaN       0.762712
11417        0.415424         0.452713       0.576271
11418        0.422242         0.148260       0.661017
11419        0.318028         0.204904       0.621469
11420        0.340172         0.269394       0.542373
11421        0.294385         0.345842       0.615819
11422        0.247954         0.442239       0.677966
11423        0.314163         0.577877       0.598870
11426        0.238499              NaN       0.446328
11427        0.227729         0.241713       0.480226
11428        0.330217         0.312714       0.700565
11429        0.340076         0.392909       0.723164
11430        1.000000         0.488760       0.994350
11432        0.436935         0.614296       0.559322
11433        0.636094              NaN       0.796610
11434        0.636060         0.324164       0.689266
11435        0.365347         0.266778       0.610169
11436        0.457207         0.215914       0.632768
11451             NaN         0.169743            NaN
11691        0.430922         0.127048       0.949153
11692        0.450572         0.197426       0.898305
11693        0.645451         0.277435       0.875706
11694        0.301137         0.373772       0.649718
11697        0.108262         0.373772            NaN

[246 rows x 3 columns]

In [56]:
df.to_csv('./data/scores/overall.csv', index=False)