In [17]:
import json
import os
import pandas as pd
from pprint import pprint

postcode_edge = json.load(open(os.path.join('data', 'nyc-postcode.json')));

zipcodes = postcode_edge['features']

df = pd.DataFrame(columns=['ZIP CODE', 'PO_NAME'])

for i in zipcodes:
    df = df.append({'ZIP CODE': i['properties']['postalCode'], 'PO_NAME': i['properties']['PO_NAME']}, ignore_index=True)
#     df = df.append([i['properties']['postalCode'], i['properties']['PO_NAME']])
#     print("Zipcode: "+str(i['properties']['postalCode'])+", neighbourhood:"+str(i['properties']['PO_NAME']))

display(df)

    ZIP CODE              PO_NAME
0      11372      Jackson Heights
1      11004            Glen Oaks
2      11040        New Hyde Park
3      11426            Bellerose
4      11365        Fresh Meadows
5      11373             Elmhurst
6      11001          Floral Park
7      11375         Forest Hills
8      11427       Queens Village
9      11374            Rego Park
10     11366        Fresh Meadows
11     11423               Hollis
12     11428       Queens Village
13     11432              Jamaica
14     11379       Middle Village
15     11429       Queens Village
16     11435              Jamaica
17     11415          Kew Gardens
18     11418        Richmond Hill
19     11433              Jamaica
20     11451              Jamaica
21     11221             Brooklyn
22     11421            Woodhaven
23     11419  South Richmond Hill
24     11434              Jamaica
25     11216             Brooklyn
26     11416           Ozone Park
27     11233             Brooklyn
28     11436              Jamaica
29     11213             Brooklyn
..       ...                  ...
232    10106             New York
233    10158             New York
234    10041             New York
235    10120             New York
236    10278             New York
237    10155             New York
238    10022             New York
239    10043             New York
240    10081             New York
241    10096             New York
242    10097             New York
243    10196             New York
244    10196             New York
245    10275             New York
246    10265             New York
247    10045             New York
248    10047             New York
249    10047             New York
250    10080             New York
251    10203             New York
252    10259             New York
253    10260             New York
254    10285             New York
255    10286             New York
256    11370                Bronx
257    10065             New York
258    10075             New York
259    10069             New York
260    10281             New York
261    10282             New York

[262 rows x 2 columns]